<div class = "container margetop text-center">
    <h1 class="mb-4"><b>HÉROES MARVEL Y DC</b></h1>
    <p>En esta página web podemos ver diferentes héroes de Marvel y DC.<br>
        Clica el botón "VER" para más información.</p>   
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/heroes']"> VER </button>
        <br>

        <img src="assets\img\marvel.png" class="card-img-top midafotorectangle me-5" alt="...">
        <img src="assets\img\DC.jpg" class="card-img-top midafoto" alt="...">
    
</div>


